<html lang='en'>

  <head>
    {{>headMetaData}}
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <p>This app was created by Dakouri M. Kobri. It uses mapbox.com and weatherstack.com APIs to determine the current weather of a given location.</p>
    <img class="portrait" src={{imageUrl}} alt={{alt}} />
    </div>
    
    {{>footer}}
  </body>

</html>