<html lang='en'>

  <head>
    {{>headMetaData}}
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src={{imageUrl}} alt={{alt}} />
    </div>
    
    {{>footer}}
  </body>

</html>